<form class="form-signin" id="register">
    <h1 class="form-signin-heading">NextMovie</h1>
    
    <label for="inputUsername" class="sr-only">Username</label>
    <input type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus>

    <label for="name" class="sr-only">Name</label>
    <input type="text" id="name" class="form-control" placeholder="Name" required>

    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>

    <label for="inputPasswordConfirm" class="sr-only">PasswordConfirm</label>
    <input type="password" id="inputPasswordConfirm" class="form-control" placeholder="PasswordConfirm" required>

    <label for="inputEmail" class="sr-only">Email</label>
    <input type="text" id="inputEmail" class="form-control" placeholder="Email" required>

    <div class="form-group hidden" id="error-container">
        <div class="alert alert-danger text-goes-here">
        </div>
    </div>
    <button class="btn btn-lg btn-primary btn-block login_btn" type="submit">Register</button>
</form>


