
.movie_info{
    list-style-type: none;
  }

img {
    text-align: left;
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
}
.add, .details, .reviews, .post-review{
    width: 10em;
    display: block;
    background-color: #007dbb;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    border-radius: 10px;
}

.delete{
    width: 10em;
    display: inline-block;
    background-color: #007dbb;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    border-radius: 10px;
}

.clear{
    width: 10em;
    display: block;
    background-color: #C70039;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    border-radius: 10px;
}

.movie_title{
    font-size: 15px;
}

.post-review{
    display: inline-block;
}

.movie-result{
    clear: both;
    margin-bottom: 50px;
}

.review, .remove-review, .update-review{
    width: 10em;
    display: inline-block;
    background-color: #007dbb;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    border-radius: 10px;
}

#search, #clear-form{
    width: 170px;
    font-size: 20px;
}

#playlist-title #title-header{
    display: inline-block;
}

.update-title, .save-title{
    width: 10em;
    background-color: #007dbb;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    border-radius: 10px;
}
h1 .btn-group { display: inline-block; }

.movie{
    margin-bottom: 50px;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 4px;
}

ul.pagination li a.active {
    background-color: #007dbb;
    color: white;
    border-radius: 5px;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}

ul.pagination li a.active {
    border-radius: 5px;
}

.col-sm-12{
    column-span: all;
}

ul, li{
    list-style: none;
    padding: 0;
}

#site_nav li{
    float: right;
}

.movie_name{
    text-align: center;
    margin:20px 0;
    font-weight: bold;
}

.movie_base_info{
    font-size: 20px;
    margin: 8px 0;
}

.form-signin{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin-heading{
    text-align: center;
    color: #007dbb;
}

.login_btn{
    margin: 15px 0 0;
}

#error-container{
    margin: 15px 0 0;
}

#error-container .alert{
    margin-bottom: 0;
}

.home_title{
    text-align: center;
    color: #007dbb;
}

button.close{
    margin-left: 8px;
}

.tab-content{
    padding: 15px 0 0;
}

#preferences .nav-pills{
    border-bottom: 1px solid #007dbb;
    margin-bottom: 15px;
    min-height: 20px;
}

#preferences .glyphicon-plus{
    margin-left: 8px;
    cursor: pointer;
}

.text-goes-here{
    text-align: center;
}

.mb-10{
    margin-bottom: 10px;
}